@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Espaço para var*/




/* Fim do Espaço para var */

body {
    font-family: "Libre Franklin", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.quebra-mobile {
    display: block;
}






.gradient {
    background: linear-gradient(135deg, #3279E2 0%, #CACAEB 100%);
}


/* Inicio do Header */

header {
    padding-top: 1rem;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#header-title {
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: #fff;

}

.header-box-menu i {
    color: #fff;
    border: 1px solid #fff;
    padding: 0.7rem;
    border-radius: 1px;
}

.header-box-menu {
    width: 3rem;
    height: 3rem;
}

/*Fim do Header*/


/*Inicio do hero */


#hero {
    padding-top: 1.625rem;
}

#hero-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-header-subtitle {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 3px;
    word-wrap: break-word;
    color: #AAC4EA;
}

.hero-header-title {
    margin-top: 1.125rem;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: -1px;
    word-wrap: break-word;
    color: #fff;
}

.hero-header-description {
    margin-top: 0.8125rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0px;
    opacity: 0.53;
    word-wrap: break-word;
    color: #fff;
}

#hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.375rem;
    width: 100%;
    height: 100%;
    max-width: 170px;
    height: 48px;
    background-color: #111111;
    border-radius: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
}

#hero-img-box {
    margin-top: 3.375rem;
}

#hero-img-box-mobile {
    display: block;
}

/*Fim do hero */

/*Inicio do Main content */

#main-content {
    padding-top: 5rem;
}

#main-content-cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.main-content-card-box {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
}

.main-content-card-box-content-title {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
}

.main-content-card-box-content-description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    color: #333333BF;
}

/*Fim do main content */

/*Inicio Line division main */
#line-division-main {
    display: flex;
    margin-top: 5rem;
    width: 80%;
    height: 1px;
    background-color: #D5D6E1;
}

/* Fim do Line division main */



/*Inicio do Service */

#service {
    padding-top: 5.9375rem;
}


.service-content {
    display: flex;
    flex-direction: column;
}

.service-content-subtitle {
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: 3px;
    color: #3279E2;
}

.service-content-title {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 48px;

}

.service-content-avaiable {
    display: flex;
    flex-direction: column;
}

.service-content-avaiable ul li {
    margin-top: 1.9375rem;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2rem;
}

#service-content-avaiable-btn {
    margin-top: 2.4375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 170px;
    height: 48px;
    border: 1px solid #3279E24D;
    border-radius: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: #3279E2;
    margin-bottom: 7rem;
}

/*Fim do Service */

/* Inicio do about */


#about {
    background-color: #ECF1FA;
    padding-bottom: 6.438rem;
}

.about-header-subtitle {
    margin-top: 5.625rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 3px;
    color: #3279E2;
}

.about-header-title {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.about-header-description {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2rem;
    color: #333333;
}

.about-header-subdescription {
    margin-top: 0.875rem;
    font-size: 1rem;
    line-height: 2rem;
    color: #333333BF;
}

.about-header-btn {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 154px;
    height: 48px;
    border: 1px solid #3279E24D;
    border-radius: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: #3279E2;
    margin-bottom: 7rem;
}

#about-img-box {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fim do about */

/*Inicio do Testimonials */

#testimonials {
    background-color: #062654;
}

.testimonials-header-subtitle {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 3px;
    color: #AAC4EA;
}

.testimonials-header-title {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3rem;
    text-align: center;
    color: #fff;
}

.container-card {
    width: 99%;
}

#testimonials-cards-box {
    padding-top: 3.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.testimonials-cards-box-card {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    max-height: 448px;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: #fff;
}




.testimonials-cards-box-card-header {
    width: 75%;
    margin-top: 1.25rem;
}

.testimonials-cards-box-card-header-title {
    margin-top: 1.31rem;
    font-size: 1.5rem;
    font-weight: 900;

}

.testimonials-cards-box-card-header-img-stars {
    margin-top: 1rem;
}

.testimonials-cards-box-card-content {
    width: 78%;
    margin-top: 1.62rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    color: #333333BF;
}

.testimonials-cards-box-card-companys {
    margin-top: 2.31rem;
    width: 75%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #333333BF;
    margin-bottom: 2.18rem;
}

.testimonials-cards-box-card-companys p {
    margin-bottom: 10px;
}

.azul-bottom p {
    margin-bottom: -2px;
}

.testimonials-cards-box-card-companys-img {
    display: flex;
    align-items: center;
}

.testimonials-cards-box-card-azul {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    max-height: 448px;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: #3279E2;
}

.azul {
    color: #FFFFFF80
}

.azul-title {
    color: #fff;
}


#testimonials-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    height: 48px;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
    border: 1px solid #FFFFFF4B;
    border-radius: 1rem;
}

#testimonials-box-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}


#testimonials-ad {
    padding-top: 5.938rem;
    width: 91%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
    color: #fff;
}


#testimonials-ad-companys {
    margin-top: 2.12rem;
}

#testimonials-ad-companys ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    list-style: none;
    padding: 0;
}

#testimonials-ad-companys ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-ad-download-img-box {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 11rem;
}

/* Fim do Testimonials */


/*Inicio do contato */

#contact {
    background-color: #062654;
}



/* Container Principal do Card */
.card-azul {
    max-width: 350px;
    width: 90%;
    margin: 0 auto;
    background-color: #3279E2;
    border-radius: 2.5rem;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-azul h3 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-align: left;
}


.card-azul input,
.card-azul select,
.card-azul textarea {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 1.2rem;
    padding: 15px 20px;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    font-family: inherit;
    color: #333;
    outline: none;
}

.card-azul textarea {
    height: 120px;
    resize: none;
}


.form-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.card-azul button {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 1.2rem;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 0.9rem;
}

.card-azul select {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url(Assets/Mobile/contact/Triangle.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    color: #333333BF;

}

#contact-content {
    margin-top: 6.6rem;
    display: flex;
    flex-direction: column;

}

.contact-content-subtitle {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 3px;
    color: #AAC4EA;
}

.contact-content-title {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
}

.contact-content-description {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    color: #fff;
}

#contact-infos {
    display: flex;
    flex-direction: column;
}


#contact-infos {
    margin-bottom: 7.6rem;
}

#contact-infos ul li {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 1.5rem;
    line-height: 2rem;
    color: #fff;
}

#info-address-p {
    margin-top: 2rem;
}


.contact-infos-btn-box {
    display: flex;
    flex-direction: column;
    padding-top: 6.25rem;
    background-color: #fff;
}

.contact-infos-btn-box-title {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
    color: #333333;
}

#contact-btns {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.68rem;
}

.contact-infos-btn-box-btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 144px;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid #3279E24D;
    font-size: 0.875rem;
    font-weight: 700;
    color: #3279E2;
}


.contact-infos-btn-box-btn-started {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 158px;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    background-color: #3279E2;
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
}

/*FIm do contato*/


/*Line Division 1*/

#line-division-footer-1 {
    display: flex;
    margin-top: 4rem;
    width: 80%;
    height: 1px;
    background-color: #D5D6E1;
}